
<div *ngIf="fileData">
  <div class="imagen-container">
      <div class="imagen-wrapper">
      
        <div *ngIf="fileData.sType_File == 'application/pdf'" class="container"><img width="80px" src="https://cdn-icons-png.flaticon.com/256/337/337946.png">
          <a class="descargar-button" (click)="download(fileData)"> {{fileData.sType_File}}</a>
        </div>

        <img (click)="download(fileData)" [src]="fileData.sUrl" style="border-radius: 10px;" *ngIf="fileData.sType_File =='image/jpeg'" alt="Imagen" class="imagen"  width="150" height="150">
      </div>
  </div>
</div>

