<div mat-dialog-title style="width: 500px;">

    <div fxLayout="row" fxLayoutAlign="start center">
        <h2 class="w-13" fxFlex="auto">
            Detalle de cita 
        </h2>
    </div>
    
</div>

<div  mat-dialog-content>
    <!-- <p class="mt-2 mb-8 text-xs">Para completar la declaración se debe ingresar el número de lote generado por el
        aplicativo de escritorio TEDEF</p> -->
            <div class="mt-3">
                <img width="290px" src="https://static.vecteezy.com/system/resources/previews/002/990/983/non_2x/personal-doctor-appointment-2d-isolated-illustration-vector.jpg" alt="images" style="float: right;">
            
                <!-- <h4 class="text-accent text-sm mb-1">Monitoreo</h4> -->
                <div class="flex mb-1">
                    <div class="w-13">Código de Cita:</div>
                    <div class="w-23 font-bold">{{citas.id}}</div>
                </div>
                <br>
                <div class="flex mb-1">
                    <div class="w-13">DNI del Paciente:</div>
                    <div class="w-2/3 font-bold">{{citas.dnip}}</div>
                </div>
                <br>
                <div class="flex mb-1">
                    <div class="w-13">Nombre del Paciente:</div>
                    <div class="w-2/3 font-bold">{{citas.sNombre_Paciente}}</div>
                </div>
                <br>

                <div class="flex mb-1">
                    <div class="w-13">Especialidad:</div>
                    <div class="w-2/3 font-bold">{{citas.sNombre_Especialidad}}</div>
                </div>
                <br>
                <div class="flex mb-1">
                    <div class="w-13">Nombre del Medico:</div>
                    <div class="w-2/3 font-bold">{{citas.sNombre_Medico}}</div>
                </div>
                
            </div>
        
            <br>
            <div class="flex mb-1">
                <div class="w-13">Estado de Cita:</div>
                <div class="w-2/3 font-bold">{{citas.sEstado}}</div>
            </div>
            <br>
            <div class="flex mb-1">
                <div class="w-13">Estado de Pago:</div>
                <div class="w-2/3 font-bold">{{citas.sEstado_Pago}}</div>
            </div>
            <br>
            <div class="flex mb-1">
                <div class="w-13">Fecha de Cita:</div>
                <div class="w-2/3 font-bold">{{citas.feccit| date:'yyyy-MM-dd'}}</div>
            </div>
            <br>
            <div class="flex mb-1">
                <div class="w-13">Hora:</div>
                <div class="w-2/3 font-bold">{{citas.hora}}</div>
            </div>


</div>


<mat-dialog-actions align="end">
    <!-- <button mat-button (click)="generarPdf()">Generar Reporte</button> -->
    <button mat-raised-button mat-dialog-close type="button" color="primary">REGRESAR</button>
</mat-dialog-actions>
