.w-13{

    color: rgb(86, 32, 136);
}
.w-23{
    
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /*INTERLINEADO*/
  }
  
  .flex-item {
    flex: 0 0 30%; /* Ajusta el porcentaje según tus necesidades */
  }
  