<h2 class="w-13" mat-dialog-tittle>{{citas!=null ? 'Editar Cita' : 'Nueva Cita'}}</h2>
<div *ngIf="CorreoPaciente!=null">
  <h4 class="w-13">Activar envio de Notificación :</h4>
<mat-slide-toggle  color="primary" [(ngModel)]="bActiveNotificaciones">{{bActiveNotificaciones?"Activado":"Desactivado"}}</mat-slide-toggle>
</div>
<h4 class="w-13">Datos Personales :</h4>
<div modal-content >
  <img width="400px" src="https://static.vecteezy.com/system/resources/previews/002/990/983/non_2x/personal-doctor-appointment-2d-isolated-illustration-vector.jpg" alt="images" style="float: right;">
  <form class="form" [formGroup]="registerForm">
    <div>
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>Dni</mat-label>
        <input class="form-control" required matInput formControlName ="dnip" >   
      </mat-form-field>
      <button mat-button color="primary" (click)="getDni()"><mat-icon>search</mat-icon></button>
      <br>
      <span class="text-danger" 
      *ngIf="registerFormControl.dnip.touched && registerFormControl.dnip.errors?.required">
      Se requiere el DNI
      </span>
      <span class="text-danger" 
      *ngIf="registerFormControl.dnip.touched && registerFormControl.dnip.errors?.pattern">
      Ingresa un DNI válido, solo valores númericos
      </span>
    </div>
  
  
  <mat-form-field class="example-full-width" appearance="fill">
  <mat-label >Nombres y Apellidos</mat-label>
  <input disabled matInput>
  {{nombrePaciente}}
  </mat-form-field>
  <mat-form-field style="margin: 10px;" class="example-full-width" appearance="fill">
  <mat-label>Edad</mat-label>
  <input disabled matInput>
  {{EdadPaciente}}
  </mat-form-field>

  <mat-form-field class="example-full-width"   appearance="fill">
  <mat-label>CorreoEletronico</mat-label>
  <input disabled matInput>
  {{CorreoPaciente}}
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Télefono</mat-label> 
  <input disabled matInput>
   {{numeroPaciente}}
 </mat-form-field> 

  <h4 class="w-13">Especialidad y Fecha de la Cita :</h4>
  <div class="form-row">
    <div>
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>Especialidad</mat-label>
        <mat-select class="form-control" required matInput formControlName="codes" matNativeControl required>
          <mat-option (click)="getMedicos();getCosto()" *ngFor="let especialidad of especialidades" [value]="especialidad.sId">
            {{especialidad.sDescripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
        <span class="text-danger" 
        *ngIf="registerFormControl.codes.touched && registerFormControl.codes.errors?.required">
        Selecciona una especialidad
        </span> 
     </div>

     <mat-form-field class="example-form" appearance="fill">
      <mat-label>Costo</mat-label>
      <span matPrefix>S/&nbsp;</span> 
      <input disabled matInput placeholder="$">
       {{costo}}
     </mat-form-field> 
      
     <div>
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>Doctor</mat-label>
        <mat-select class="form-control" required matInput formControlName ="codmed" matNativeControl required>
          <mat-option (click)="getDiasLaborables()" *ngFor="let elemento of medicos" [value]="elemento.sId" >
            {{elemento.sDescripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
        <span class="text-danger" 
        *ngIf="registerFormControl.codmed.touched && registerFormControl.codmed.errors?.required">
        Selecciona un Medico
        </span> 
     </div>
  </div>

  <div>
    <mat-form-field *ngIf ="fechasCargadas" class="example-form" appearance="fill">
        <mat-label >Fecha Cita</mat-label>
        <input (dateChange)="getHorario()" [min]="todayDate" [matDatepicker]="datepicker"  [matDatepickerFilter]="dateFilter"  class="form-control" matInput formControlName="feccit">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker class="highlight-dates" #datepicker [dateClass]="dateClass">
          <!-- <mat-date-range-picker-actions>
            <div class="legend">
              <div class="disponible">Disponible</div>
            </div>
          </mat-date-range-picker-actions> -->
        <h1 style="font-size: 10px;margin:10px">disponible<span style="font-size: 10px" class="grey">1</span></h1>
      </mat-datepicker>
    </mat-form-field>

    <br>
    <span class="text-danger" 
    *ngIf="registerFormControl.feccit.touched && registerFormControl.feccit.errors?.required">
    Selecciona una Fecha
    </span> 
  </div>

  <div>
    <mat-form-field class="example-form" appearance="fill">
      <mat-label>Hora</mat-label>
      <mat-select class="form-control" required matInput formControlName="hora"> 
        <mat-option [disabled]="elemento.status === false || elemento.contentCitas === 'REFRIGERIO'" [ngStyle]="{'background-color':elemento.status === true? 'white' : '#ED2939' }" *ngFor="let elemento of arrayHoras" [value]="elemento.contentCitas" >
          {{elemento.contentCitas}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <span class="text-danger" 
    *ngIf="registerFormControl.hora.touched && registerFormControl.hora.errors?.required">
    Selecciona una Hora
    </span> 
  </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancelar</button>
 
  <button mat-raised-button color="primary" [disabled]="this.registerForm.invalid || !nombrePaciente" (click)="citas!=null ? editCliente() :addCliente()">Guardar</button>
</div>





