.global-content{
    height: 100%;
    position: static;
    z-index: 999; /* un valor alto para el z-index del mat-drawer-container */
    }

    
    mat-drawer{
    background-color: #031224;
    width: 20%;
    color: white;
    line-height: 1%;
    }
    .icono{
        margin-right: 10px ;
    }
    
  
 
    .designation{
        margin-top: 2px;
        font-size: 0.7rem;
        color: lightgray;
    }
    
    mat-divider{
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: grey ;
    }
    
    .menu-button{
        padding-left: 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .panel
    {
        align-items: initial;
        justify-content: flex-start;
        vertical-align: middle;
        background-color: #031224;
        color: white;
    }
    
    .example-spacer {
        flex: 1 1 auto;
        
      }

      .toolbar{
          background-color: #3163a5e8;
          color: white;
      }

      element.style {
        flex: 1 1 auto;
        box-sizing: border-box;
    }

    .name
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #b1b1b1;
    }
    
    mat-icon{
        color: #4e647a;
    
    }

  
      
      .logo {
        font-size: 40px;
        color: #30bece;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      

      

/* notification.component.css */
.notification-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .notification-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
  }
  
  .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
  }
  
  .notification-list {
    margin-top: 10px;
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px;
    max-height: 500px;
    background-color: #f9f9f9;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
  }
  
  .notification-item {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    cursor: pointer; /* Muestra el cursor como un selector */
  }
  
  .notification-item:last-child {
    border-bottom: none;
  }
  
  .notification-id {
    font-weight: bold;
  }
  
  .notification-message {
    margin: 5px 0;
  }
  
  .no-notifications {
    color: #666;
  }

  .scrolled-list {
    list-style-type: none; /* Elimina los bullets de la lista */
    padding: 0;
    margin: 0;
  }
  