.global-content{
    height: 100%;
    position: static;
    z-index: 999; /* un valor alto para el z-index del mat-drawer-container */
    }

    
    mat-drawer{
    background-color: #031224;
    width: 20%;
    color: white;
    line-height: 1%;
    }
    .icono{
        margin-right: 10px ;
    }
    
  
 
    .designation{
        margin-top: 2px;
        font-size: 0.7rem;
        color: lightgray;
    }
    
    mat-divider{
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: grey ;
    }
    
    .menu-button{
        padding-left: 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .panel
    {
        align-items: initial;
        justify-content: flex-start;
        vertical-align: middle;
        background-color: #031224;
        color: white;
    }
    
    .example-spacer {
        flex: 1 1 auto;
        
      }

      .toolbar{
          background-color: #3163a5e8;
          color: white;
      }

      element.style {
        flex: 1 1 auto;
        box-sizing: border-box;
    }

    .name
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #b1b1b1;
    }
    
    mat-icon{
        color: #4e647a;
    
    }

  
      
      .logo {
        font-size: 40px;
        color: #30bece;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      