<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30">
        
        <mat-toolbar class="container">Restablecer Contraseña</mat-toolbar>
        <br>
        
          
       
        <form class="centered-form" fxLayoutAlign="stretch" fxLayout="column"  [formGroup]="restorePasswordForm" (ngSubmit)="restorePassword()">
            <img style="float: left;" width="360px" src="https://cdn-icons-png.flaticon.com/512/6195/6195700.png" alt="unnamed"  > 
            <br><br>      
            <mat-form-field style="margin: 10px;" class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text"  class="example-full-width" formControlName="sEmail" matInput >   
            </mat-form-field>
            <br> 

            <div class="example-full-width"  style="display: grid; grid-template-columns: 1fr auto; gap: 10px;">
                <mat-form-field style="width: 500px;" class="example-full-width" appearance="fill">
                    <mat-label>Contraseña Anterior</mat-label>
                    <input [type]="bOldPassword ? 'password' : 'text'" formControlName="sOldPassword" matInput >   
                </mat-form-field>
                <button type="button" mat-icon-button (click)="myFunction(1)">
                    <mat-icon>visibility</mat-icon>
                </button>
              </div>
            <br>
            
            <div class="example-full-width" style="display: grid; grid-template-columns: 1fr auto; gap: 10px;">
                <mat-form-field style="width: 500px;" class="example-full-width" appearance="fill">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input [type]="bNewPassword ? 'password' : 'text'" formControlName="sNewPassword" matInput >   
                </mat-form-field>
                <button type="button" style="float: right;" mat-icon-button (click)="myFunction(2)">
                    <mat-icon>visibility</mat-icon>
                </button>
            </div>
        
                <br>
            <br>
            <button style="margin: 10px;" color="primary" type="submit" [disabled]="!restorePasswordForm.valid" mat-raised-button>Reestablecer Contraseña</button>
        </form>
</mat-card>
</div>
