.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
 

    height: 50px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .w-13{

    color: rgb(86, 32, 136);
}

  


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}