
<!-- <button style="margin: 10px;" mat-raised-button  color="primary" (click)="generarReporte()">Generar Reporte</button> -->
<br>
<br>
<mat-divider></mat-divider>
<button style="margin: 10px;"  [disabled]="this.registerForm.invalid || !nomp" mat-raised-button  color="primary" (click)="saveHistory()">Guardar</button>
<div modal-content >
    

    <mat-card class="example-card">
        
        <img mat-card-image width="10px" style="float: right;" src="https://img.freepik.com/vector-premium/formulario-diagnostico-salud-atencion-medica-ilustracion-vectorial-soporte-personaje-mujer-medico-cerca-documento-medicina-sobre-paciente-enfermo-formulario-prescripcion-hospitalaria-simbolo-clinica-plana_109722-3299.jpg?w=2000" alt="">
        <mat-card-content>
            <form class="form" [formGroup]="registerForm">
                
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Dni del paciente</mat-label>
                        <input class="form-control" required matInput formControlName ="id">
                    </mat-form-field>
                    <button mat-mini-fab color="primary"  [disabled]="registerFormControl.id.invalid" (click)="add()">
                        <mat-icon>search</mat-icon>
                    </button> 
                    <br>
                    <span class="text-danger" 
                    *ngIf="registerFormControl.id.touched && registerFormControl.id.errors?.required">
                    Se requiere el DNI
                    </span>
                    <span class="text-danger" 
                    *ngIf="registerFormControl.id.touched && registerFormControl.id.errors?.maxLength">
                    Se requiere como máximo 8 campos
                    </span>
                    <span class="text-danger" 
                    *ngIf="registerFormControl.id.touched && registerFormControl.id.errors?.minLength">
                    Se requiere como mínimo 8 campos
                    </span> 
                    <span class="text-danger" 
                    *ngIf="registerFormControl.id.touched && registerFormControl.id.errors?.pattern">
                    Solo valores numericos
                    </span>
                </div>
                <br>

                <div class="flex mb-1">
                    <span class="w-13"><b> DATOS DEL PACIENTE :</b></span>
                </div>
                <mat-form-field style="margin: 10px;" class="example-full-width" appearance="fill">
                    <mat-label>Nombre del paciente</mat-label>
                    <input required matInput disabled>{{nomp}}
                </mat-form-field>
    
                <mat-form-field class="example-full-width" style="margin: 10px;"  appearance="fill">
                    <mat-label>Especialidad</mat-label>
                    <input required matInput disabled> {{especialidad}}  
                </mat-form-field>
                
                <mat-form-field class="example-full-width" style="margin: 10px;"  appearance="fill">
                    <mat-label>Nombre del medico</mat-label>
                    <input valid="error" matInput disabled>{{nombre}}
                </mat-form-field>
            
                <mat-form-field class="example-full-width" style="margin: 10px;"  appearance="fill">
                    <mat-label>Fecha de cita</mat-label>
                    <input   required matInput disabled > {{fecct|date :'yyyy-MM-dd'}}  
                </mat-form-field>
                <div class="flex mb-1">
                    <span class="w-13"><b>RECETA MEDICA :</b> </span>
                </div>

                    <div>
                        <mat-form-field class="example-full-width"  style="margin: 10px;" class="example-full-width" appearance="fill">
                            <mat-label>Diagnostico</mat-label>
                            <input style="width: 100%;" formControlName ="diagnostico" required matInput  >   
                        </mat-form-field>
                        <br>
                            <span class="text-danger" 
                            *ngIf="registerFormControl.diagnostico.touched && registerFormControl.diagnostico.errors?.required">
                            Se requiere el Diagnostico
                            </span> 
                    </div>
    
                    <div>
                        <mat-form-field style="margin: 10px;" class="example-full-width">
                            <mat-label>Receta Medica</mat-label>
                            <textarea formControlName ="medicamentos" matInput rows="8" placeholder="medicamentos">
                            </textarea>
                            </mat-form-field>
                            <br>
                                <span class="text-danger" 
                                *ngIf="registerFormControl.medicamentos.touched && registerFormControl.medicamentos.errors?.required">
                                Se requiere la receta
                                </span> 
                    </div>

            </form>
        </mat-card-content>
    </mat-card>



<br>
    
</div>   


