.example-form {
    min-width: 100px;
    max-width: 100px;
    width: 100%;
  }
  
  .example-full-width {
    width: 40%;
  }

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-card {
    max-width: 450px;
    margin-bottom: 8px;
  }

  .w-13{

    color: rgba(3, 20, 112, 0.719);
}
.w-23{
    
    text-align: justify;
}

.text-danger
{
  font-size: 11px;
  color: red;
}
