.w-13{

    color: rgb(86, 32, 136);
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.text-danger
{
  font-size: 11px;
  color: red;
}
